body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.filter {
  background: hsl(30,100%,97%);
  box-shadow: 0px 2px 4px 3px rgba(0, 0, 0, 0.2);
}

.card {
  margin: 10px;
  padding: 10px;

  display: flex;
  position: relative;
}

.card-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-right {
  flex: 1;
}

.card-right canvas {
  width: 100%;
}

.chrome-picker {
  display: inline-block;
}

.App {
  height: 100%;
  display: flex;
  flex-direction: column;
}

html, body, #root {
  overflow: hidden;
  margin: 0;
}

#root {
  height: 100%;
}

.scroller {
  overflow-y: auto;
  height: 100%;
}

h1 {
  margin-top: 0;
}

.output-desc {
  font-style: italic;
  text-align: center;
}

.card-controls {
  position: absolute;
  right: 10px;
  bottom: 10px;
  display: flex;
}

.card-controls button {
  width: 30px;
  height: 30px;
}

.react-colorful {
  width: 150px;
  height: 150px;
}
